[submodule "lib/cppaudio"]
	path = lib/cppaudio
	url = https://github.com/moutend/cppaudio
[submodule "lib/cpplogger"]
	path = lib/cpplogger
	url = https://github.com/moutend/cpplogger
[submodule "lib/IAudioServer"]
	path = lib/IAudioServer
	url = https://github.com/moutend/IAudioServer
